.flair-accordion {
	--space_buffer: var(--type_size, 1rem);
	border: 1px solid rgba(var(--color__base_900), 1);
	margin-bottom: calc( var( --space_buffer ) * 2 );
	
}
.flair-accordion + .flair-accordion {
	clear: both;
	margin-top: calc( var( --space_buffer ) * -2 ) !important;
}

.flair-accordion.alignleft,
.flair-accordion.alignright {
	margin-bottom: calc( var(--space_buffer) * 2 ) !important;
	max-width: calc( var( --width__column_full, inherit ) * .65 ) !important;
	width: calc( var( --width__column_full, inherit ) * .65 ) !important;
}



.flair-accordion .header {
	background-color: rgba(var(--color__base_900), 1);
	border-bottom: 1px solid rgba(var(--color__base_800), 1);
	margin: 0;
	padding: calc( var( --space_buffer ) * .5 ) calc( var( --space_buffer ) * 3 ) calc( var( --space_buffer ) * .5 ) calc( var( --space_buffer ) * 1.5 );
	position: relative;
	transition: .2s background-color ease-in-out;	
}

.flair-accordion .header:hover {
	background-color: rgba(var(--color__link), 1);
}
.flair-accordion .header button {
	cursor: pointer;
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
}

/** this hacky css helps eliminate a flash of content on load **/
.flair-accordion.js .detail {
	padding: 0;
}
.flair-accordion .detail,
.flair-accordion.open .detail {
	padding: var( --space_buffer ) calc( var( --space_buffer ) * 1.5 );
}

.flair-accordion.open .detail,
.flair-accordion.closed .detail {
	background-color: transparent;
	overflow: hidden;
	max-height: 100vh;
	transition: .5s all ease-in-out;	
}


.flair-accordion.closed .detail {
	background-color: rgba(var(--color__link), 1);
	max-height: 0;
	padding: 0;
}

.flair-accordion .detail * {
	transition: .2s all ease-in-out;	
}
.flair-accordion.closed .detail * {
	border: 0;
	font-size: 0;
	height: 0;
	margin: 0;
	padding: 0;
	visibility: hidden;
}