.milestone {
	--timeline_width: 2px;
	--space_buffer: var(--type_size, 1rem);
	align-items: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-bottom: calc( var(--space_buffer) * 2 );
	padding: 0 var(--space_buffer);
}
.milestone + .milestone {
	margin-top: calc( var(--space_buffer) * -2 ) !important;
}

.milestone .detail {
	padding-left: calc( var(--space_buffer) * 2 );
}

.milestone .timeline {
  flex: 0 0 var(--timeline_width, 2px);
	position: relative;
}

.date {
	font-size: .95rem;
	text-transform: uppercase;
}



/** left / right aligned; overrides default float behavior **/

.milestone.alignleft,
.milestone.alignright,
.block-editor-block-list__block.milestone.alignleft,
.block-editor-block-list__block.milestone.alignright {
	float: none !important;
	justify-content: flex-end;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: calc( var(--space_buffer) * 2 ) !important;
	max-width: var( --width__column_full, inherit ); !important;
	min-width: inherit !important;
	width: 100% !important;
}

html .milestone.alignright .detail {
	flex: 0 0 50%;
	padding-left: calc( var(--space_buffer) * 2 );
}

html .milestone.alignleft {
	flex-direction: row-reverse;
}
html .milestone.alignleft .timeline {
	left: calc( var(--timeline_width, 2px) * -1 );
}
html .milestone.alignleft .detail {
	flex: 0 0 50%;
	padding-left: 0;
	padding-right: calc( var(--space_buffer) * 2 );
}


/** 
 * Beta: these styles connect timelines that aren't aligned alike.
 */
.milestone {
	position: relative;
}
.milestone:not(.alignleft):not(.alignright) + .milestone.alignleft::before,
.milestone:not(.alignleft):not(.alignright) + .milestone.alignright::before {
	content: '';
	background-color: #fff;
	height: var(--timeline_width, 2px);
	left: var(--space_buffer);
	position: absolute;
	width: calc( 50% - var(--space_buffer) );
}
.milestone.alignleft + .milestone:not(.alignleft):not(.alignright)::before,
.milestone.alignright + .milestone:not(.alignleft):not(.alignright)::before {
	content: '';
	background-color: #fff;
	height: var(--timeline_width, 2px);
	position: absolute;
	width: calc( 50% - var(--space_buffer ) );
}

/* add a little space **/
.milestone:not(.alignleft):not(.alignright) + .milestone.alignleft .detail,
.milestone.alignleft + .milestone:not(.alignleft):not(.alignright) .detail,
.milestone.alignright + .milestone:not(.alignleft):not(.alignright) .detail {
	padding-top: var(--space_buffer);
}
/* schooch the marker down a bit **/
.milestone:not(.alignleft):not(.alignright) + .milestone.alignleft .timeline::before,
.milestone.alignleft + .milestone:not(.alignleft):not(.alignright)[class*='marker-'] .timeline::before,
.milestone.alignright + .milestone:not(.alignleft):not(.alignright)[class*='marker-'] .timeline::before {
	top: calc( var(--space_buffer) * 2.75 );
}





/** timeline line / colors **/
.milestone .timeline {
	background-color: #000;
}
@media (prefers-color-scheme: dark) {
	.milestone .timeline {
		background-color: #fff;
	}
}


/** create markers with pseudo elements that have svg backgrounds **/
.milestone[class*='marker-'] .timeline::before {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 22px 22px;
	content: " ";
	position: absolute;
	top: calc( var(--space_buffer) * 1.75 ); left: -10px;
	width: 22px;
	height: 22px;
}



.marker-dot .timeline::before {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E%3Ccircle fill='%23000' cx='21' cy='21' r='18' /%3E%3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
	.marker-dot .timeline::before {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E%3Ccircle fill='%23fff' cx='21' cy='21' r='18' /%3E%3C/svg%3E");
	}
}
.marker-dot-hollow .timeline::before {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E%3Ccircle fill='%23000' cx='21' cy='21' r='18' /%3E%3Ccircle fill='%23fff' cx='21' cy='21' r='14' /%3E%3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
	.marker-dot-hollow .timeline::before {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E%3Ccircle fill='%23fff' cx='21' cy='21' r='18' /%3E%3Ccircle fill='%23000' cx='21' cy='21' r='14' /%3E%3C/svg%3E");
	}
}


.marker-diamond .timeline::before {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E %3Crect fill='%23000' x='6.2' y='6.2' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -8.6985 21)' width='29.5' height='29.5' /%3E %3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
	.marker-diamond .timeline::before {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E %3Crect fill='%23fff' x='6.2' y='6.2' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -8.6985 21)' width='29.5' height='29.5' /%3E %3C/svg%3E");
	}
}

.marker-diamond-hollow .timeline::before {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E %3Cg transform='rotate(45 21 21)' %3E %3Crect fill='%23000' x='6' y='6' width='30' height='30' /%3E %3Crect fill='%23fff' x='10' y='10' width='22' height='22' /%3E %3C/g%3E %3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
	.marker-diamond-hollow .timeline::before {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E %3Cg transform='rotate(45 21 21)' %3E %3Crect fill='%23fff' x='6' y='6' width='30' height='30' /%3E %3Crect fill='%23000' x='10' y='10' width='22' height='22' /%3E %3C/g%3E %3C/svg%3E");
	}
}


.marker-square .timeline::before {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E %3Crect fill='%23000' x='4' y='4' width='32' height='32' /%3E %3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
	.marker-square .timeline::before {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E %3Crect fill='%23fff' x='4' y='4' width='32' height='32' /%3E %3C/svg%3E");
	}
}

.marker-square-hollow .timeline::before {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E %3Crect fill='%23000' x='4' y='4' width='32' height='32' /%3E %3Crect fill='%23fff' x='8' y='8' width='24' height='24' /%3E %3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
	.marker-square-hollow .timeline::before {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 42 42'%3E %3Crect fill='%23fff' x='4' y='4' width='32' height='32' /%3E %3Crect fill='%23000' x='8' y='8' width='24' height='24' /%3E %3C/svg%3E");
	}
}


