/* fades elements in as they enter the view port; fades out as they leave */
/* 
header, img {
	opacity: var(--intersection-ratio);
}
 */

/* creates a wobbly effect; needs work */
/* 
a:hover {
	display: inline-block;
	position: relative;
	transform: rotateZ(calc(3deg * (var(--mouse-x-pct) - .5) )) rotateX(calc(40deg * (var(--mouse-y-pct) - .5))) perspective(100px);
	transform-style: preserve-3d;
	transition: none;
}
 */


/* creates a spot light effect */
/* 
a:hover {
 	background: radial-gradient(circle at calc(100% * var(--mouse-x-pct)) calc(100% * var(--mouse-y-pct)), var(--color__highlight) 0%,  var(--color__brand) 80%);
 	background-position: calc(100% * var(--mouse-x-pct)) calc(100% * var(--mouse-y-pct));
}
*/

.slant {
	transform: rotateZ(-5deg);
}


.flair-toggle-x {
	background-color: transparent !important;
	border: 0 !important;
	font-size: 0 !important;
	padding: 0 !important;
	position: relative;
	width: 1.5rem;
	width: 100%;
}
button.flair-toggle-x:hover {
	background-color: transparent !important;
	border: 0 !important;
	box-shadow: none;
	transform: none;
}
.flair-toggle-x::before,
.flair-toggle-x::after {
	background-color: #fff;
	content: '';
	height: 2px;
	position: absolute;
	right: 1.5rem;
	top: 1.375rem;
	transition: .2s all ease;
	width: 1rem;
}

.flair-toggle-x::before {
	transform: rotate(0deg);
}
.flair-toggle-x::after {
	transform: rotate(90deg);
}

.open .flair-toggle-x::before {
	transform: rotate(315deg);
}
.open .flair-toggle-x::after {
	transform: rotate(225deg);
}