:where(.flair-metric) {
    display: flex;
    flex-direction: column;
	font-size: var( --type__size, 1.1rem );
	gap: var( --type__size, 1em );

    & > em,
    & .qualifier {
        display: block;
    }

    & > em {
        font-size: calc( var( --type__size, 1em ) * 3.75 );
        font-style: normal;
        font-weight: bold;
    }
    &.orientation-horizontal {
        flex-direction: row;
        align-items: center;
    }
}