:where( .flair-metric ) {
// 	font-size: var( --type__size, 1.1rem );
	margin-bottom: var( --type__size, 1em );

	& > em,
	& .qualifier {
		display: block;
	}

	em {
		display: block;
		font-size: calc( var( --type__size, 1em ) * 3 );
		font-style: normal;
// 		font-weight: bold;
	}

}


a.flair-metric-wrapper {
	display: block; /** behave like the div it would otherwise have been **/
	text-decoration: inherit; /** a little more specific **/
}


