.fixie {
/* 
	flex-direction: column;
 */
 margin: 0 0 2rem;
 padding: 0;
 height: 100vh;
}
.fixie .background {
	opacity: 1;
	position: absolute;
	top: 0;
	left: -2rem;
	width: calc( 100% + 4rem );
	z-index: 0;
}
