.fixie {
/* 
	flex-direction: column;
 */
 margin: 0 0 calc( var( --type__size, 1em ) * 2 );
 padding: 0;
 height: 100vh;
}
.fixie .background {
	opacity: 1;
	position: absolute;
	top: 0;
	left: -2rem;
	width: calc( 100% + 4rem );
	z-index: 0;
}

.fixie .color-picker {
	background-color: rgba( var(--color__base_700), 1);
	position: relative;
}
.fixie .color-picker span{
	color: rgba( var(--color__base_100), 1) !important;
}
.fixie.has-media .color-picker,
.fixie.has-bg-color .color-picker {
	display: none;
}