:where( .flair-milestone-wrapper ) {
	--timeline_width: .25em;
	--space_buffer: var(--flair-font-size, 1em);
}
:where( .flair-milestone ) {
	align-items: stretch;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: calc( var(--space_buffer) * 2 );
	justify-content: flex-start;
// 	margin-bottom: calc( var(--space_buffer) * 2 );
	margin-block-end: 0;
	padding: 0 var(--space_buffer);

	.details {
		padding-block: 1rem;
// 		padding-left: calc( var(--space_buffer) * 2 );
	}
	.details .date + p {
		margin-top: 0;
	}

	.timeline {
		flex: 0 0 var(--timeline_width);
		position: relative;
	}

	.date {
		font-size: .95rem;
		text-transform: uppercase;
	}

}

.flair-milestone-wrapper:has( + .flair-milestone-wrapper) {
	margin-block: 0 !important;
}




/** timeline line / colors **/
.flair-milestone .timeline {
	background-color: currentColor;
}


/** create markers using styled pseudo elements **/
.flair-milestone-wrapper[class*='marker-'] .timeline::before {
	--side: calc( var( --space_buffer ) * .75 );
	background-color: currentColor;
	border: var( --timeline_width ) solid currentColor;
	content: " ";
	position: absolute;
	top: 1rem;
	left: calc( ( var( --side ) + var( --timeline_width ) ) * -.5 );
	width: var( --side );
	height: var( --side );
}
.flair-milestone-wrapper[class*='marker-'][class*='hollow'] .timeline::before {
	background-color:  var( --flair-color-secondary );
}

.flair-milestone-wrapper[class*='dot'] .timeline::before {
	border-radius: 50%;
}
.flair-milestone-wrapper[class*='diamond'] .timeline::before {
	--side: calc( var( --space_buffer ) * .65 ); /** rotated square looks big; scale down a bit **/
	transform: rotate(45deg);
}
.flair-milestone-wrapper[class*='square'] .timeline::before {
}



:where(.flair-milestone-wrapper) {
	&.layout-right .flair-milestone {
		flex-direction: row-reverse;
	}
	&.layout-center-right .flair-milestone {
		margin-inline-start: calc( 50% - var( --space_buffer ) - ( var( --timeline_width ) / 2 ) );
	}
	&.layout-center-left .flair-milestone {
		flex-direction: row-reverse;
		margin-inline-end: calc( 50% - var( --space_buffer ) - ( var( --timeline_width ) / 2 ) );
	}
}


/**
 * the line can be in one of three places: left, center, right.
 */

/** draw a line from L to R or R to L **/
.flair-milestone-wrapper.layout-left + .flair-milestone-wrapper.layout-right::before,
.flair-milestone-wrapper.layout-right + .flair-milestone-wrapper.layout-left::before, {
	border-block-start: var( --timeline_width ) solid currentColor;
	content: '';
	display: block;
	margin: 0 var(--space_buffer);
}

/** draw a line from C to L or L to C **/
.flair-milestone-wrapper.layout-left + .flair-milestone-wrapper.layout-center-left::before,
.flair-milestone-wrapper.layout-left + .flair-milestone-wrapper.layout-center-right::before,
.flair-milestone-wrapper.layout-center-right + .flair-milestone-wrapper.layout-left::before,
.flair-milestone-wrapper.layout-center-left + .flair-milestone-wrapper.layout-left::before {
	border-block-start: var( --timeline_width ) solid currentColor;
	content: '';
	display: block;
	margin-inline-start: var(--space_buffer);
	margin-inline-end: calc( 50% - ( var( --timeline_width ) / 2 ) );
}

/** draw a line from C to R or R to C **/
.flair-milestone-wrapper.layout-right + .flair-milestone-wrapper.layout-center-left::before,
.flair-milestone-wrapper.layout-right + .flair-milestone-wrapper.layout-center-right::before,
.flair-milestone-wrapper.layout-center-left + .flair-milestone-wrapper.layout-right::before,
.flair-milestone-wrapper.layout-center-right + .flair-milestone-wrapper.layout-right::before {
	border-block-start: var( --timeline_width ) solid currentColor;
	content: '';
	display: block;
	margin-inline-end: var(--space_buffer);
	margin-inline-start: calc( 50% - ( var( --timeline_width ) / 2 ) );
}
