:where(.eyebrow) {
	font-size: calc( var( --type__size, 1em ) * .9 );
	font-weight: bold;
	margin-bottom: calc( var( --type__size, 1em ) * 1 );
	text-transform: uppercase;

	& sub, & sup {
		font-size: calc( var( --type__size, 1em ) * 1 );
		text-transform: none;
	}
	& sub {
		bottom: 0;
	}
	& sup {
		top: -.15em;
	}
}
