.ok-zoomer {
	position: relative;
}
.ok-zoomer img {
	pointer-events: none;
}

.zoomer {
/* 			clip-path: stroke-box circle( 1% at var(--mouse-pct-x) var(--mouse-pct-y) );			 */

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	
	opacity: 0;
	transition: opacity .3s ease;
}
.ok-zoomer:hover .zoomer {
	--z: 2;

	clip-path: circle( calc( 30% * ( 1 / var(--z) ) ) at var(--mouse-pct-x) var(--mouse-pct-y) );			
	opacity: 1;
	scale: var(--z);
	transform-origin: var(--mouse-pct-x) var(--mouse-pct-y);
	
}
