.hero {
	margin-bottom: calc( var( --type__size ) * 2 );
	position: relative;
}

/* 
.hero.n {
	justify-content: center;
	align-items: flex-start;
}	
.hero.ne {
	justify-content: flex-end;
	align-items: flex-start;
}	
.hero.e {
	justify-content: flex-end;
	align-items: center;
}	
.hero.se {
	justify-content: flex-end;
	align-items: flex-end;
}	
.hero.s {
	justify-content: center;
	align-items: flex-end;
}	
.hero.sw {
	justify-content: flex-start;
	align-items: flex-end;
}	
.hero.w {
	justify-content: flex-start;
	align-items: center;
}	
.hero.nw {
	justify-content: flex-start;
	align-items: flex-start;
}	
.hero.center {
	justify-content: center;
	align-items: center;
}	
 */


.hero .background {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: none !important;
	position: absolute;
	top: 0; left: 0; right: 0; 
	height: 100vh;
/* 	overflow: hidden; */
}
.hero .background figure,
.hero .background img {
	visibility: visible;	margin: 0;
	
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.hero .background {
	overflow: hidden;
}
.hero.throb .background img {
	animation-duration: 22s;
  animation-name: throb;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes throb { 
  from {
	   scale: 1;
  }
  to {
	   scale: 1.2;
  }
}


/* 
@keyframes drift { 
  from {
	   scale: 1.3;
	   transform: translateX(-1%) translateY(0%);
  }
  to {
 	   scale: 1;
	   transform: translateX(-1%) translateY(-3%);
  }
}
 */


.hero .foreground {
	display: flex;
	margin: 0 auto;
	min-height: 100vh;
	padding: calc( var( --type__size ) * 2 );
	position: relative;
	width: 100%;
	z-index: 2;
}
.hero.n .foreground {
	justify-content: center;
	align-items: flex-start;
}	
.hero.ne .foreground {
	justify-content: flex-end;
	align-items: flex-start;
}	
.hero.e .foreground {
	justify-content: flex-end;
	align-items: center;
}	
.hero.se .foreground {
	justify-content: flex-end;
	align-items: flex-end;
}	
.hero.s .foreground {
	justify-content: center;
	align-items: flex-end;
}	
.hero.sw .foreground {
	justify-content: flex-start;
	align-items: flex-end;
}	
.hero.w .foreground {
	justify-content: flex-start;
	align-items: center;
}	
.hero.nw .foreground {
	justify-content: flex-start;
	align-items: flex-start;
}	
.hero.center .foreground {
	justify-content: center;
	align-items: center;
}	

.hero .caption {
	font-size: calc( var( --type__size ) * .85 );
	padding: calc( var( --type__size ) * .5 ) 0 0 calc( var( --type__size ) * 2 );
	position: relative;
	z-index: 1;
}


.hero.vertical header {
	display: flex;
	flex-direction: row;
}
.hero.vertical.reverse header {
	flex-direction: row-reverse;
}
.hero.vertical .background {
	position: relative;
	top: 0; left: 0;
	width: 50%; 
}
.hero.vertical .foreground {
	align-items: center;
	background-color: rgba( var( --color__base_700 ), 1);
	justify-content: flex-start;
	width: 50%; 
}
