/**
 *
 */


:where(.flair-card) {
	color: var( --flair-color-primary );
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-block-end: calc(var(--flair-font-size) * 2);
	position: relative;
	transition: transform .2s ease-in-out;
	width: 100%;

	&:has(.link) {
		cursor: pointer;
	}


	.media {
		overflow: hidden;
	}
	.media img {
		display: block;
		height: auto;
		transition: all .2s ease-in-out;
		width: 100%;
	}

	.text {
		order: 2;
		padding: calc(var(--flair-font-size) * 1.5);
		z-index: 1;
		& > :first-child {
			margin-block-start: 0;
		}
		& > :last-child {
			margin-block-end: 0;
		}
	}
	.media {
		order: 1;
	}

	.link {
		color: inherit;
		text-decoration: inherit;
	}
	.title {
		font-family: inherit;
		font-weight: bold;
		font-size: calc(var(--flair-font-size) * 1.25);
	}
	.excerpt, .button {
		font-size: calc(var(--flair-font-size) * 1);
// 		margin: 0 0 calc(var(--flair-font-size) * 1);
	}
	.button {
// 		border-block-start: 1px solid color-mix(in srgb, var(--flair-color-secondary), transparent 80%);
		color: var(--flair-color-secondary);
		margin-inline: calc(var(--flair-font-size) * -1.5);
		margin-block-end: calc(var(--flair-font-size) * -1.5) !important;
		padding: calc(var(--flair-font-size) * 1.5);
		transition: all .2s ease;

		&::before {
			content: '';
			display: block;
			border-block-start: 1px solid color-mix(in srgb, var(--flair-color-secondary), transparent 80%);
			margin-block-start: calc(var(--flair-font-size) * -1.5) !important;
			margin-block-end: calc(var(--flair-font-size) * 1.5) !important;
		}
	}
	.attribution {
		font-size: calc(var(--flair-font-size) * .875);
	}
	.call {
		background-color: var(--flair-color-secondary);
		padding: calc(var(--flair-font-size) * 1);
		position: relative;
		text-align: center;
	}

	.excerpt {
		flex-grow: 1;
		pointer-events: none;
		z-index: 2;
		a {
			position: relative;
			z-index: 99;
			pointer-events: auto;
		}
	}

	&::before {
		box-shadow: 0 0 5px color-mix(in oklab, var(--flair-color-primary), white 85%);
		content: '';
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		transition: all .2s ease-in-out;
		z-index: 0;
	}

	&:focus-within,
	&:hover {
		transform: translateY(-2px);
		&::before {
			box-shadow: 0 3px 10px color-mix(in oklab, var(--flair-color-primary), white 85%);
		}
		.media img {
			transform: scale(1.03);
		}
		.button {
			background-color: color-mix(in srgb, var(--flair-color-secondary), transparent 50%);
			color: var(--flair-color-primary);
			transition: all .2s ease;
		}
	}

}

:where(.flair-card-wrapper[class*='aspect']):not([class*='aspect-none']) {
	.media {
		img {
			object-fit: cover;
			height: 100%;
		}
	}
}

// for whatever reason; using a mixin wrecks the container query.  so don't do that.
// %f-card-h {
// 	flex-direction: row;
// 	align-items: stretch;
// 	justify-content: stretch;
// 	.media {
// 		margin-block-end: 0;
// 		max-width: 50%;
// 	}
// }

.flair-card-wrapper {
	container-name: flair-card;
	container-type: inline-size;
}

:where(.flair-card-wrapper.orientation-horizontal) .flair-card {
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
	.media {
		margin-block-end: 0;
		max-width: 50%;
	}
}
@container flair-card (width > 600px) {
	:where(.flair-card-wrapper:not(.orientation-vertical)) .flair-card {
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
	.media {
		margin-block-end: 0;
		max-width: 50%;
	}
	}
}



