.card {
	background-color: rgba(var(--color__base_900),1);
	color: rgba(var(--color__base_100),1);	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	position: relative;
	width: 100%;
}
.card .link {
	color: inherit;
	text-decoration: inherit;
}
.card .link .title {
	font-family: inherit;
	font-weight: bold;
	font-size: calc(var(--type__size) * 1.25);
	margin: 0 0 calc(var(--type__size) * .5);
}
.card .sub {
	margin: 0 0 calc(var(--type__size) * .5);
	z-index: 2;
	pointer-events: none;
}
.card .sub a {
	background-color: rgba(var(--color__base_400),1);
	color: rgba(var(--color__base_900),1);
	border-radius: 1rem;
	display: inline-block;
	font-size: calc(var(--type__size) * .75);
	padding: calc(var(--type__size) * .25) calc(var(--type__size) * .5);
	text-decoration: none;
	pointer-events: auto;
}
.card .sub a:hover {
	background-color: rgba(var(--color__base_100),1);
}
.card .sub a:not(:last-of-type) {
	margin-right: calc(var(--type__size) * .25);
}

.card .sub .sep {
	display: none;
}
.card .excerpt {
	margin: 0 0 calc(var(--type__size) * 1);
}
.card .call {
	background-color: rgba(var(--color__base_700),1);
	padding: calc(var(--type__size) * 1);
	position: relative;
	text-align: center;
}

.card .media {
	order: 1;
}
.card .link {
	order: 2;
}
.card .sub {
	order: 3;
}
.card .excerpt {
	order: 4;
}
.card .call {
	order: 5;
}

.card {
	padding-top: 1rem;
}

.card .media {
	margin-top: -1rem;
	margin-bottom: 1rem;
}

.card .media,
.card .link,
.card .sub,
.card .excerpt {
/* 
	background-color: orange;
 */
}
.card .link,
.card .sub,
.card .excerpt {
	padding: 0 1rem 0;
}

.card .excerpt {
	flex-grow: 1;
	pointer-events: none;
	z-index: 2;
}
.card .excerpt a {
	position: relative;
	z-index: 99;
	pointer-events: auto;
}



.card .link::before {
	box-shadow: 0 0 5px rgba(var(--color__base_700),1);
	content: '';
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	transition: all .2s ease-in-out;
	z-index: 1;
} 
.card .link:hover {
	background-color: inherit;
	color: inherit;
}

.card .link:hover::before {
	box-shadow: 0 3px 10px rgba(var(--color__base_700),1);
	transform: translateY(-2px);
}

.card .link:hover ~ .media {
	overflow: hidden;
}

.card .media img {
	display: block;
	height: auto;
	width: 100%;
}
.card .link:hover ~ .media img {
	transform: scale(1.05);
	transition: all .2s ease-in-out;
}

.card .link .title,
.card .link ~ .sub,
.card .link ~ .media,
.card .link ~ .excerpt,
.card .link ~ .call {
	transition: all .2s ease-in-out;
}
.card .link:hover .title,
.card .link:hover ~ .sub,
.card .link:hover ~ .media,
.card .link:hover ~ .excerpt,
.card .link:hover ~ .call {
	transform: translateY(-2px);
}

