.wp-block-flair-sidebar {
	background-color: var(rgba(--color__base_700, 1));
	color: var(rgba(--color__base_100, 1));
	padding: calc(var(--type__size) * 2);
}

@media screen and (min-width:24rem) {
		.wp-block-flair-sidebar.alignleft,
		.wp-block-flair-sidebar.alignright {
		max-width: 50%;
	}
	html .site .wp-block-flair-sidebar.aligncenter {
		max-width: 85%;
	}
}
@media screen and (min-width:50rem) {
		.wp-block-flair-sidebar.alignleft,
		.wp-block-flair-sidebar.alignright {
		max-width: 40%;
	}
}