.flair-carousel > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-wrap: nowrap !important; /* because WP default styles use important */
	gap: var( --carousel_gap );
	overflow: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none; /* works with IE & Edge */
	scrollbar-width: none; /* works with  FF */
	overflow-x: scroll;

	&.overflow-auto {
		overflow: auto;
	}


	& .flair-carousel-slide {
		flex: 0 0 auto;
		scroll-snap-align: start;
		flex-basis: 100%;
	}
	&.double .flair-carousel-slide {
		flex-basis: calc( 50% - var( --carousel_gap ) ) !important;
	}
	&.triple .flair-carousel-slide {
		flex-basis: calc( (100% / 3) - var( --carousel_gap ) ) !important;
	}


}
