:is( .flair-carousel-wrapper ) {

	position: relative;

	button {
		background-color: color-mix(in srgb, currentColor, transparent 90%);
		border: 0;
		color: currentColor;
		cursor: pointer;
		display: block;
		-webkit-appearance: none;
	}

	button.disabled {
		pointer-events: none;
		opacity: .5;
	}
	.previous, .next {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 12px 12px;

		border-radius: 50%;

		height: 2em;
		width: 2em;
		position: absolute;
		text-indent: -999em;
	}
	.previous {
		background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12" ><polygon points="8,11.8 2.2,6 8,0.2 9.4,1.6 5,6 9.4,10.4 "/></svg>');
		right: 3.5em;
		bottom: 0rem;
	}
	.next {
		background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 12 12" ><polygon points="4,11.8 2.6,10.4 7,6 2.6,1.6 4,0.2 9.8,6 "/></svg>');
		right: 1em;
		bottom: 0rem;
	}

	.dots {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		margin-block-start: 1rem;
	}

	.dot {
		background-color: color-mix(in srgb, currentColor, transparent 70%);
		border-radius: .375em;
		height: .75em;
		margin: .5em;
		padding: 0;
		transition: all .2s ease;
		width: .75em;
	}
	.dot[data-is-selected="1"] {
		background-color: currentColor;
		width: 2.5em;
	}

	:where( .flair-carousel ) {
		display: flex;
		flex-wrap: nowrap !important; /* because WP default styles use important */
		overflow: hidden;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none; /* works with IE & Edge */
		scrollbar-width: none; /* works with  FF */
		overflow-x: scroll;
		&.overflow-auto {
			overflow: auto;
		}
	}

	& .flair-carousel-slide {
		flex: 0 0 auto;
		scroll-snap-align: start;
		flex-basis: 100%;
	}

	&.double .flair-carousel-slide {
		flex-basis: 50% !important;
		scroll-snap-align: initial;
		&:nth-child(2n+1) {
			scroll-snap-align: start;
		}
	}

	&.triple .flair-carousel-slide {
		flex-basis: calc( 100% / 3 ) !important;
		scroll-snap-align: initial;
		&:nth-child(3n+1) {
			scroll-snap-align: start;
		}
	}




}


:where( .flair-carousel::-webkit-scrollbar ) {
    display: none; /* works with Chrome, Safari, and Opera */
}



