:where( .flair-boxout-wrapper ) {
	background-color: color-mix(in oklab, var(--flair-color-primary), white 85%);
	.flair-boxout {
		padding: var( --wp--style--block-gap, 1rem );
		background-color: inherit;
	}
}
