/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:where(.flair-fixie) {
	--minIntersection: .4; // this is the point where opacity starts to transition.  .4 means when fixie is 40% visible.
// 	align-items: center;
// 	display: flex;
// 	height: fit-content;
// 	position: relative;
// 	scroll-snap-align: start;
// 	top: 0;

	/** adjacent fixies need a lower number here for a smoother transition from one to the next **/
 	&:has( + .flair-fixie[data-intersection="bottom"] ),
	&[data-intersection="top"] + .flair-fixie {
		--minIntersection: 0; // prevents consecutive fixies from fading out as they transition
	}

	&:is( .background, .wp-block-cover__background) {
// 		opacity: 0;
		position: absolute;
		z-index: -1;
	}

	&[data-is-intersecting="true"]:has(img) :is( .wp-block-cover__image-background ) {
		opacity: calc( (var(--intersection-ratio) - var(--minIntersection)) / (1 - var(--minIntersection)) * (1 - 0) ) !important;
		position: fixed;
	}

	&:where( .foreground, .wp-block-cover__inner-container ) {
	}

}



// &:has( + .flair-fixie ) {
// 	margin-block-end: 0;
// }
