/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:where(.flair-fixie) {
	align-items: center;
	display: flex;
	height: fit-content;
	position: relative;
	scroll-snap-align: start;
	top: 0;

	outline:3px dashed black;

	&:is( .background, .wp-block-cover__background) {
		margin: 0;
		width: 100%;
		height: 100vh;
		opacity: 0;
		position: absolute;
		z-index: -1;
	}

	&[data-is-intersecting="true"]:has(img) :is( .wp-block-cover__image-background ) {
		opacity: calc( (var( --intersection-ratio ) - 0 ) * 1 ) !important;
		position: fixed;
	}
	&:where( .foreground, .wp-block-cover__inner-container ) {
	}

}



// &:has( + .flair-fixie ) {
// 	margin-block-end: 0;
// }
