.eyebrow {
	color: rgba( var(--color__base_300), 1);
	font-size: calc( var( --type__size, 1em ) * .9 );
	font-weight: bold;
	margin-bottom: calc( var( --type__size, 1em ) * 1 );
	text-transform: uppercase;
}

/** display sub / super script in their original case **/
.eyebrow sub, .eyebrow sup {
	font-size: calc( var( --type__size, 1em ) * 1 );
	text-transform: none;
	
}
.eyebrow sub {
	bottom: 0;
}
.eyebrow sup {
	top: -.15em;
}